.header {
  display: flex;
}

.title {
  margin-right: auto;
}

.meta {
  display: flex;
}

.createdBy {
  margin-right: auto;
}

.content {
  margin-bottom: 24px;
}

.imageFrame {
  margin-bottom: 16px;
}

.image {
  display: block;
  margin: auto;
  border-radius: 8px;
}

.buttonWrapper {
  text-align: center;
}
